---
layout: default
title : STCCE
navbar_title: STCCE
---
<h1>Seminario de teoría de cuerpos de clases explícita</h1>
<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">2024-2: Cociclos rígidos meromorfos</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            
            <div class="media-body">
                <p>Grupo de trabajo para estudiar los diversos trabajos de Darmon, Pozzi, y Vonk. Organizado por <a href="https://sites.google.com/view/danielbarrerasalazar/math">Daniel Barrera</a>, <a href="https://sites.google.com/view/luissantiagopalacios/math">Luis Palacios</a>, Patricio Pérez, y por mi.  Nos juntaremos los Miércoles de 14:00 a 16:00 en la Sala 2 del edifcio Rolando Chuaqui de la PUC. Estudiaremos cociclos rígidos meromorfos, siguiendo principalmente:</p>
                <ol>
                    <li> <a href="https://www.math.mcgill.ca/darmon/pub/Articles/Research/69.DV1/paper.pdf">Singular moduli for real quadratic fields: a rigid analytic approach</a> de Henri Darmon y Jan Vonk (2021).</li>
                    <li><a href="https://pub.math.leidenuniv.nl/~vonkjb/publications/DPV2.pdf">The values of the Dedekind-Rademacher cocycle at real multiplication points</a>, de Herni Darmon, Alice Pozzi, y Jan Vonk (1991).</li>
                </ol>

                <table class="center">
                    <tr>
                        <th>Fecha</th>
                        <th>Expositor</th>
                        <th>Título</th>
                        <th>Notas</th>
                    </tr>
                    <tr>
                        <td>23/10</td>
                        <td>Patricio Pérez</td>
                        <td>Cociclos rígidos meromorfos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30/10</td>
                        <td>Daniel Barrera</td>
                        <td>Clasificación de cociclos rígidos meromorfos de peso dos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>06/11</td>
                        <td>Luis Palacios</td>
                        <td>El levantamiento de Schneider–Teitelbaum y el cociclo de Dedekind–Rademacher</td>
                        <td><a href="docs/dpv-2024-2/El levantamiento de Schneider-Teitelbaum y el cociclo de Dedekind-Rademacher  Luis Palacios_compressed.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>13/11</td>
                        <td>Lesly Suarez</td>
                        <td>Valores RM de cocilos rígidos meromorfos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20/11</td>
                        <td>Marco Godoy</td>
                        <td>TBA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>27/11</td>
                        <td>TBA</td>
                        <td>TBA</td>
                        <td></td>
                    </tr>

                </table>

                Comentarios:
                <ol>
                    <li>El cómputo de $$\mathrm{H}^1(\Gamma_0(n), \mathbb{Z})$$ se puede encontrar en <a href="https://www.ams.org/journals/proc/1998-126-05/S0002-9939-98-04367-6/S0002-9939-98-04367-6.pdf">Williams–Wisner (1998)</a>. Para material sobre el ismorfismo de Eichler–Shimura, consultar <a href="https://polvanhoften2.github.io/lntsg2019/H2.pdf">Williams–Iyengar (2019)</a>.</li>
                </ol>
                
            </div>
        </div>
       
    </div>
</div>

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">2024-1: Cuerpos de clases</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            
            <div class="media-body">
                <p>Seminario organizado por <a href="https://www.mat.uc.cl/~rmenares/index.html">Ricardo Menares</a>, <a href="https://sites.google.com/view/danielbarrerasalazar/math">Daniel Barrera</a>, y Patricio Pérez sobre preliminares de teoría de cuerpos de clases para eventualmente estudiar los trabajos de Darmon–Vonk y de Darmon–Pozzi–Vonk. La referencia principal fue el libro <a href="https://books.google.cl/books/about/Primes_of_the_Form_X2+ny2.html?id=NklYBAAAQBAJ&source=kp_book_description&redir_esc=y">Primes of the form $$x^2 + ny^2$$</a> de David A. Cox (1989). Nos juntamos los Jueves a las 10:00 en la Sala Multiusos del edificio Felipe Villanueva de la PUC.</p>

                <table class="center">
                    <tr>
                        <th>Fecha</th>
                        <th>Expositor</th>
                        <th>Título</th>
                        <th>Notas</th>
                    </tr>
                    <tr>
                        <td>28/03</td>
                        <td>Benjamín Macías</td>
                        <td>Ramificación</td>
                        <td><a href="docs/class-fields/ramifications.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>04/04</td>
                        <td>Rocío Sepúlveda</td>
                        <td>Cuerpo de clases de Hilbert y morfismo de Artin I</td>
                        <td><a href="docs/class-fields/Borrador 2 charla hcf.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>11/04</td>
                        <td>Rodrigo Galaz</td>
                        <td>Cuerpo de clases de Hilbert y morfismo de Artin II</td>
                        <td><a href="docs/class-fields/3_El_cuerpo_de_clases_de_Hilbert_y_el_símbolo_de_Artin_parte_II.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>18/04</td>
                        <td>José Cuevas</td>
                        <td>Teoría del cuerpo de clases I</td>
                        <td><a href="docs/class-fields/cuerpos_de_clase_kronecker-weber.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>25/04</td>
                        <td>Mario Lagunas</td>
                        <td>Teoría del cuerpo de clases II</td>
                        <td><a href="docs/class-fields/Teoría_de_Cuerpos_de_Clase (1).pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>02/05</td>
                        <td>Marco Godoy</td>
                        <td>Construcción del invariante $$j$$</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>09/05</td>
                        <td>Daniel Heimlich</td>
                        <td>Reticulados con multiplicaciones complejas</td>
                        <td><a href="docs/class-fields/Multiplicación_compleja.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>16/05</td>
                        <td>Lesly Suárez</td>
                        <td>Cuerpos de clases de anillos y teorema principal I</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23/05</td>
                        <td>Francisco Gallardo</td>
                        <td>Cuerpos de clases de anillos y teorema principal II</td>
                        <td><a href="docs/class-fields/Teorema principal CM -F. Gallardo.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>30/05</td>
                        <td>Daniel Rodríguez</td>
                        <td>Grupo de clases estrecho</td>
                        <td><a href="docs/class-fields/Narrow_Class_Group.pdf"><i class="fa-solid fa-file-arrow-down fa-lg center"></i></a></td>
                    </tr>
                    <tr>
                        <td>06/06</td>
                        <td>Daniel Barrera</td>
                        <td>Panorama sobre Darmon–Vonk (2021)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13/06</td>
                        <td>Matías Alvarado</td>
                        <td>Darmon–Vonk (2021) 1.1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20/06</td>
                        <td></td>
                        <td><em>Feriado legal</em></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>27/06</td>
                        <td>Pablo Chenal</td>
                        <td>Darmon–Vonk (2021) 1.2</td>
                        <td></td>
                    </tr>
                </table>
                
            </div>
        </div>
       
    </div>
</div>

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">2023-2: Puntos de Darmon</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            
            <div class="media-body">
                <p>Seminario organizado por <a href="https://www.mat.uc.cl/~rmenares/index.html">Ricardo Menares</a>, <a href="https://sites.google.com/view/danielbarrerasalazar/math">Daniel Barrera</a>, y <a href="https://sites.google.com/site/sebastianherreromath/home?authuser=0">Sebastián Herrero</a> sobre puntos <em>casi totalmente reales</em> (ATR por sus siglas en ingles), introducidos por Darmon conjeturalmente como puntos algebraicos en ciertas curvas elípticas que no admiten puntos de Heegner. La referencia principal fue el libro <a href="https://www.math.mcgill.ca/darmon/pub/Articles/Research/36.NSF-CBMS/chapter.pdf">Rational points on modular elliptic curves</a>, de Henri Darmon (2003). El lugar de encuentro fue la Sala 1 del Edificio Rolando Chuaqui de la PUC, los Miércoles a las 14:50.</p>

                
                <table class="center">
                    <tr>
                        <th>Fecha</th>
                        <th>Expositor</th>
                        <th>Título</th>
                        <th>Notas</th>
                    </tr>
                    <tr>
                        <td>16/08</td>
                        <td>Ricardo Menares</td>
                        <td>Motivación</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23/08</td>
                        <td>Juan Pablo Llerena</td>
                        <td>Árbol de Bruhat–Tits</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>30/08</td>
                        <td>Matías Alvarado</td>
                        <td>Geometría rígida en $$\mathcal{H}_p$$</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>06/09</td>
                        <td>Daniel Barrera</td>
                        <td>Teorema de los residuos</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>13/09</td>
                        <td>Daniel Barrera</td>
                        <td>Formas modulares rígidas analíticas II</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>20/09</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
    
                    <tr>
                        <td>27/09</td>
                        <td>Patricio Pérez</td>
                        <td>Integración $$p$$-ádica I</td>
                        <td></td>
                        <tr>
                            <td>04/10</td>
                            <td>Patricio Pérez</td>
                            <td>Integración $$p$$-ádica II</td>
                            <td></td>
                        </tr>
                    </tr>
                    <tr>
                        <td>11/10</td>
                        <td>Fernanda Cares</td>
                        <td>Uniformización de Tate</td>
                        <td></td>
                    </tr>
                </tr>
                    <tr>
                        <td>18/10</td>
                        <td>Javier Arancibia</td>
                        <td>Uniformización modular $$p$$-ádica I</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>25/10</td>
                        <td>Javier Arancibia</td>
                        <td>Uniformización modular $$p$$-ádica II</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>01/11</td>
                        <td></td>
                        <td><em>Feriado legal</em></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>08/11</td>
                        <td>Lesly Suarez</td>
                        <td>Cohomología de grupos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>08/11</td>
                        <td>Patricio Pérez</td>
                        <td>Puntos ATR</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15/11</td>
                        <td>Sebastián Herrero</td>
                        <td>Integración en $$\mathcal{H}_p \times \mathcal{H}$$</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>22/11</td>
                        <td>Marco Godoy</td>
                        <td>Puntos de Stark–Heegner</td>
                        <td></td>
                    </tr>
                </table>
                
                
            </div>
        </div>
       
    </div>
</div>


