@charset "utf-8";
body {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

table, th, td {
    border: 1px solid rgb(222, 226, 230);
    border-collapse: collapse;
    padding: 4px;

}

table td:nth-child(4) {
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.diagram.compact .box rect {
  fill: none;
  stroke: black;
  stroke-width: 1;
}



.diagram.compact .box text {
  font-size: 10px;
  dominant-baseline: middle;
}

.diagram.compact line,
.diagram.compact polygon {
  stroke: black;
  stroke-width: 1;
  fill: black;
}

.diagram.compact .box.disabled rect {
  stroke: #aaa;
}

.diagram.compact .box.disabled text {
  fill: #aaa;
}

.box-link {
  fill: currentColor;
}

svg.diagram {
  /* nothing here */
}

svg.diagram .box rect {
  fill: none !important;
  stroke: black !important;
}

svg.diagram line {
  stroke: black !important;
}

svg.diagram polygon {
  fill: black !important;
}
svg.diagram .box text {
  font-size: 12px !important;
}

svg.diagram .box.disabled rect {
  fill: none !important;
  stroke: #aaa !important;
  stroke-width: 1.5;
}

svg.diagram .box.disabled text {
  fill: #aaa !important;
}


table.center {
  margin: 0 auto;
  border-collapse: collapse;
  border: none;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}
