{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa-solid fa-pen"></i> Apuntes</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            
            <div class="media-body">
                <h6 class="p-3 mb-0 border-bottom border-gray">Charlas</h6>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/sega24/bb9.pdf">Introducción a las superficies elípticas</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/sega24/bb1.pdf">Cónicas e intersecciones en $$\mathbb{P}^2$$</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/class-fields/ramifications.pdf">Ramificaciones</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/charlas/rational.pdf">Superficies elípticas racionales</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/charlas/silverman.pdf">Puntos enteros en órbitas de funciones racionales</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="subsites/docs/charlas/p-adics.pdf">Introducción a los números $$p$$-ádicos</a>
                </div>
                <h6 class="p-3 mb-0 border-bottom border-gray">Cursos</h6>
                <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
                    <a href="subsites/docs/courses/real.pdf">Análisis real (WIP)</a>
                </div>
            </div>
        </div>
       
    </div>
</div>


