{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
  <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa-solid fa-pen"></i> Apuntes (en progreso)</h6>
  <div class="px-3 pb-1">
    <div class="media-body">
        <div><a href="subsites/docs/courses/number-fields.pdf">Algebraic number fields (ver. 2025)</a></div>  
        <div><a href="subsites/docs/courses/metric.pdf">Análisis real (ver. 2024)</a></div>
        <div><a href="subsites/docs/courses/varieties.pdf">Variedades algebraicas afines (ver. 2024)</a></div>      
      </div>       
    </div>
  </div>


<div class="my-3 bg-white shadow-sm rounded-sm">
  <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa fa-comment"></i> Charlas</h6>
  <div class="px-3 pb-1">
    <div class="media-body">
        <div><a href="subsites/docs/charlas/bb9.pdf">Introducción a las superficies elípticas</a></div>  
        <div><a href="subsites/docs/charlas/plane-conics.pdf">Cónicas e intersecciones en $$\mathbb{P}^2$$</a></div>  
        <div><a href="subsites/docs/charlas/ramification.pdf">Ramificación</a></div>  
        <div><a href="subsites/docs/charlas/rational.pdf">Superficies elípticas racionales</a></div>  
        <div><a href="subsites/docs/charlas/silverman.pdf">Teorema de Silverman sobre puntos enteros en órbitas de funciones racionales</a></div>  
        <div><a href="subsites/docs/charlas/p-adics.pdf">Introducción a los números $$p$$-ádicos</a></div>     
      </div>       
    </div>
</div>

<div class="my-3 bg-white shadow-sm rounded-sm">
  <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa fa-calendar"></i> Actividades académicas</h6>
  <div class="px-3 pb-1">
    <div class="media-body">
        <div>2024-2: <a href="subsites/sega.html">Seminario de Estudiantes de Geometría Algebraica</a></div>
        <div>2024-2: <a href="subsites/tcce.html">Seminario de Estudiantes de Cociclos Meromorfos Rígidos</a></div>
        <div>2020–2023: <a href="subsites/sep.html">Seminario de Estudiantes de Pregrado</a></div>  
      </div>       
    </div>
</div>






