{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-calendar" ></i> Eventos</h6>
    <div class="px-3 pb-1">
        
        
            
            
            <div class="media-body">
                <div>
                    En diciembre de 2024 se realizará el programa <a href="https://hdc-g.github.io/agchile2024/">Arithmetic and $$p$$-adic Geometry in Chile</a> en el Centro de Estudios de Postgrado y Educación Continua de la USACH.
                </div>
                <div class="border-top border-gray">
                    Los miércoles desde el 21 de octubre de 2024, en la PUC, se realizará un grupo de trabajo sobre los artículos de Darmon–Pozzi–Vonk sobre cociclos meromorfos rígidos. Será a las 14:00. Para más información contactar a <a href="https://sites.google.com/view/danielbarrerasalazar/">Daniel Barrera</a>.
                </div>
                <div class="border-top border-gray">
                    En octubre–noviembre de 2024 se realizará el Seminario de Teoría de Números de H. Pastén. Será sobre la Conjetura de Mordell Efectiva. Viernes a las 14:50 en la Sala 2.
                </div>

                <div class="border-top border-gray">
                    En 2024-2 el Seminario de Geometría Algebraica de G. Urzúa tendrá dos partes: una sobre métodos topológicos aplicados a arreglos de rectas (junto a M. Bustamante); la otra, sobre condiciones de estabilidad para superficies K3 (junto a A. Aravena). Martes a las 13:30 en la Sala 2.
                </div>

                <div class="border-top border-gray">
                    En 2024-2 estoy organizando el <a href="subsites/sega.html">Seminario de Estudiantes sobre Geometría Algebraica</a> . Está orientado a gente sin mayor conocimiento en el área. Veremos principalemte cositas de curvas algebraicas. Jueves a las 13:30 en la Sala 2.
                </div>
                
            </div>
       
       
    </div>
</div>

