{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-link"></i> Enlaces de interés</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            
            <div class="media-body">
                
                <div class="my-1 d-flex">
                    <a href="https://www.mat.uc.cl/~natalia.garcia/stn.html">Seminario de Teoría de Números UC</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="https://www.mat.uc.cl/~federico.castillo/santas.html">Santiago Number Theory and Algebra Seminar (SaNTAS)</a>
                </div>
                <div class="my-1 d-flex">
                    <a href="https://www.mat.uc.cl/~urzua/">Geometría Algebraica en la UC</a>
                </div>
            </div>
        </div>
       
    </div>
</div>


